<table class="table">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
                <tr>
                <td>{{this.recipeName}}</td>
                <td>
                    {{#each this.recipeIngredients}}
                        {{this.ingredient}}
                        ({{this.quantity}})
                    {{/each}}
                </td>
                </tr>
        {{/each}}
    </tbody>
    <tfooter>
		<tr><td>
		<button class="btn btn-primary" 
			onClick="goToPantry()">Back to Pantries</button>
		</td></tr>
	</tfooter>
</table>