<div class="container" style="padding: 50px">
    <p class="h1">What Can I Make?</p>
    <p>Create a pantry of ingredients that you have in your kitchen and see what meals you can make!</p>
    <p>Or upload your favorite recipe for others to use!</p>
    <button class="btn btn-primary" onclick="addPantry()" style="background-color: #108070">Create Pantry</button>
    <button class="btn btn-primary" onclick="addRecipe()" style="background-color: #108070">Create a Recipe</button>
</div>
